// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Font
$font-family-base: 'Roboto';
$base_font_size: 16px;

// Colors
$light-blue: #6CCCCE;
$dark-blue: #282560;
